/****************
 * GENERIC TAGS *
 ****************/

body {
    background-color: white;
    /* background-image: url("/sites/uft.edu.au/themes/uft_2012/images/background.png");
    background-repeat: repeat-y; */
    color: #2D2D2D;  /* grey */
    font-family: helvetica, sans-serif;
    font-size: 0.9em;
    margin: 0px;
}

caption {                           /* DEPRECATED? */
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: #6B939C;
    padding: 10px 10px 10px 10px;
}

p {
    margin-top: 0;
    padding: 0px 10px 0px 10px;
}

/*******************
 * GENERIC CLASSES *
 *******************/

.admin-panel {
    background-color: #C7E0DD;
}

.feed-icons a img {
	border: 0px;
	display: block;
}

.messages {
    border: 1px solid green;
    padding: 5px 5px 5px 5px;
    color: green;
}

.meta {
	display:none;
}

.node-inner, .node-form, #mission {
	background-color: white;
	width: 600px;
	padding-bottom: 5px;
}

.node-teaser {
	margin-bottom:10px;
}

.profile {
	border: 0px;
	display: block;
	margin: 0px 0px 1px 1px ;
}

.title {
	color: white;
	background-color: #6B939C;
	padding: 0px 10px 0px 10px;
	margin: 10px 0px 0px 0px;
}

.title a {
	color:white;
	text-decoration:none;
}

/*************
 * STRUCTURE *
 *************/

#block-block-8 p { /* google calendar block */
    padding: 0px;
}

#center-panel  {
    float:left;
}

#content a {
}

#content-area {
	width: 600px;
}

#content-header {
	width: 600px;
}

#content-inner
{
}

#content-pane {
	padding: 10px 0px 0px 10px;
}

#imgbar {
    min-width: 830px;
    height: 231px;
    border-bottom: 1px solid white;
}

#login-hider {
	display:none;
}

#logo {
	float: left;
}

#logo a img {
	border: 0px;
	display: block;
	margin: 0px 0px 1px 1px ;
	width: 1020px;
}

#nav_top_right {
	float: right;
	display: block;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
}

#page-content {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
}

#primary {
    font-size: 120%;
    line-height: normal;
    /* padding: 0 0 0px 0px; */
    width: 100%;
    border: none;
    margin: 0;
    width: 1020px;
}

#primary a {
    background: #6B939C;
    color: #FFF;
    font-weight: bold;
    display: inline;
    float: left;
    font-size: large;
    margin: 0 0px 0 0;
    border: solid 1px;
    border-width: 1px 1px 0 1px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0px 10px 0px;
    width: 202px;
    background-position: 0% 0;
    border-left: 1px solid white;
}

#primary a.active  {
    background-position: 0% -84px;
}

#primary a:hover {
    background-color: #89B6C0;
    background-position: 0% -42px;
    text-decoration: none;
}

#primary ul {
    padding: 0;
    margin: 0;
    border: none;
}

#primary ul.links li, #secondary ul.links li {
    border-left: none;
    display: inline;
    /* list-style-type: none; */
    margin: 0;
    padding: 0 0 0 0;
}

#secondary  {
    background: #6B939C;
    height:1.5em;
    margin-left: 0px;
    width: 100%
}

#secondary a.active  {
    font-weight: bold;
}

#secondary a:hover  {
    background: #4E426F;    /* dark purple */
}

#secondary li a  {
    float: left;
    display: block;
    color: #fff;            /* blue */
    font-size: 100%;
    text-decoration: none;
    padding: 0 10px 0 5px;
    font-weight: bold;
}

#secondary ul  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* -------------------------------------------------------------------------- */

/* sidebar stuff */

.sidebar-left #content-inner  {
    padding-left: 200px; /* The width + left margin of #sidebar-left. */
    padding-right: 0;
}

.sidebar-right #content-inner  {
    padding-left: 0;
    padding-right: 200px; /* The width + right margin of #sidebar-right. */
}

.two-sidebars #content-inner  {
    padding-left: 200px; /* The width + left margin of #sidebar-left. */
    padding-right: 200px; /* The width + right margin of #sidebar-right. */
}

/** sidebar-left **/
#sidebar-left  {
    float: left;
    width: 200px;
    margin-left: 0;
    margin-right: -200px; /* Negative value of #sidebar-left's width + left margin. */
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}

#sidebar-left-inner  {
    margin: 0 20px 0 0;
    padding: 0;
}

/** sidebar-right **/
#sidebar-right  {
    float: right;
    width: 200px;
    margin-left: -200px; /* Negative value of #sidebar-right's width + right margin. */
    margin-right: 0;
    padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}

h1 {
	font-size: large;
}

h2 {
	font-size: medium;
	background-color: #A0C8D4;
}

/* -------------------------------------------------------------------------- */

:link {
    border-bottom: 1px dotted;
    /* FIXME Why are text-color and text-decoration not taking effect? */
    color: #6B939C;
    text-decoration: none;
}

.block, mini {
	background-color: white;
}

.block a, .content a {
}

.block a:hover, .content a:hover {
	text-decoration: underline;
}

.calendar-calendar td a {
	font-size: small;
}

.calendar-calendar div.date-nav a, .calendar-calendar div.date-nav h3 {
	font-size: medium;
}

.calendar-calendar th.days {
	font-size: small;
}

ul.primary li a:hover {
	background-color:blue;
}

/*
** Tab navigation from system.css
*/

ul.primary {
    padding: 0 0 0 1em; /* LTR */
    white-space: nowrap;
    list-style-type: none;
    margin: 5px;
    height: auto;
    line-height: normal;
    border-bottom: 1px solid #bbb;
}

ul.primary li {
    display: inline;
}

ul.primary li a {
    background-color: #6B939C;
    border-color: #bbb;
    border-width: 1px;
    border-style: solid solid none solid;
    height: auto;
    margin-right: 0.5em; /* LTR */
    padding: 0 1em;
    text-decoration: none;
    color: white;
}

ul.primary li.active a {
    background-color: white;
    border: 1px solid #bbb;
    border-bottom: #FFFCDF 1px solid;
    color: #2D2D2D;   /* grey */
}

ul.primary li a:hover {
    background-color: #4E426F;    /* dark purple */
    border-color: #ccc;
    border-bottom-color: #eee;
}

ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin: 5px;
}

ul.secondary li {
    display: inline;
    padding: 0 1em;
    border-right: 1px solid #ccc; /* LTR */
}

ul.secondary a {
    padding: 0;
    text-decoration: none;
}

ul.secondary a.active {
    border-bottom: 4px solid #999;
}

.tabs {
	padding: 0;
	margin-bottom: -5px;
	border: 0;
}

#block-block-5 {
	font-size: 95%;
}

.views-table {
	width: 100%;
}

.views-field-field-lecturer-uid-1 {
	text-align: right;
	padding-right: 1em;
}

.views-field-field-time-value {
	width: 5em;
}

#attachments {
	width: 100%;
}

table {
	background-color: #EEEEEE;
}

th, td {
    padding-left: 2em;
    padding-right: 2em;
}

td {
	border-bottom: 1px solid #CCCCCC;
}

thead {
	background-color: #E6E6E6;
}

thead th {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}

/* Make field labels stand out more. */

.field-label {
    font-size: 120%;
}

.field-items {
    padding: 1em;
}



/* DELETE THE FOLLOWING? */

#sidebar-right-inner  { /* OBSOLETE? */
    margin: 0 0 0 20px;
    padding: 0;
}

#uft_top_link_bar a { /* OBSOLETE? */
	text-decoration:none;
}

#uft_top_link_bar { /* OBSOLETE? */
	float:right;
	padding-right:20px;
}

#login_bar { /* OBSOLETE? */
	display: none;
}

/* make the login stuff appear on one line */

#user-login * { /* OBSOLETE? */
	display: inline;
}
